<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DriverSchool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.xuchang.driverschool.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TraineeServlet</display-name>
    <servlet-name>TraineeServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.TraineeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraineeServlet</servlet-name>
    <url-pattern>/TraineeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerServlet</display-name>
    <servlet-name>TrainerServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.TrainerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServlet</servlet-name>
    <url-pattern>/TrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoServlet</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.xuchang.driverschool.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminCar.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminUser.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminIndex.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminVideo.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminQuestion.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminNews.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminSetting.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/adminSetting.jsp</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminQuestionServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </filter-mapping>
 <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminVideoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryListQuestion.jsp</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryListTrainee.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryListTrainer.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryQuestion.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryTrainee.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/queryTrainer.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
    <display-name>TraineeFilter</display-name>
    <filter-name>TraineeFilter</filter-name>
    <filter-class>com.xuchang.driverschool.web.filter.TraineeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TraineeFilter</filter-name>
    <url-pattern>/TraineeFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TraineeFilter</filter-name>
    <url-pattern>/jsp/traineePage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TraineeFilter</filter-name>
    <url-pattern>/PageSettingServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>TrainerFilter</display-name>
    <filter-name>TrainerFilter</filter-name>
    <filter-class>com.xuchang.driverschool.web.filter.TrainerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TrainerFilter</filter-name>
    <url-pattern>/TrainerFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TrainerFilter</filter-name>
    <url-pattern>/jsp/trainerPage.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PageSettingServlet</display-name>
    <servlet-name>PageSettingServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.PageSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSettingServlet</servlet-name>
    <url-pattern>/PageSettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQuestionServlet</display-name>
    <servlet-name>AdminQuestionServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.AdminQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQuestionServlet</servlet-name>
    <url-pattern>/AdminQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserServlet</display-name>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVideoServlet</display-name>
    <servlet-name>AdminVideoServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.AdminVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoServlet</servlet-name>
    <url-pattern>/AdminVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerPensonServlet</display-name>
    <servlet-name>TrainerPensonServlet</servlet-name>
    <servlet-class>com.xuchang.driverschool.web.servlet.TrainerPensonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerPensonServlet</servlet-name>
    <url-pattern>/TrainerPensonServlet</url-pattern>
  </servlet-mapping>
</web-app>